/* Twitter timeline
#################################################################################################### */
/* line 4, ../sass/twitter-style.scss */
#tweets-mc-timeline { background: #f7f7f7; padding: 20px 0; position: relative; }
/* line 7, ../sass/twitter-style.scss */
#tweets-mc-timeline .h3 { text-align: center; }
/* line 8, ../sass/twitter-style.scss */
#tweets-mc-timeline .follow { display: none; position: absolute; top: 20px; right: 5px; padding-left: 15px; padding-right: 15px; }
/* line 9, ../sass/twitter-style.scss */
#tweets-mc-timeline .twitter-type-lists { position: relative; }
/* line 11, ../sass/twitter-style.scss */
#tweets-mc-timeline .twitter-type-lists .bg-twitter-stream-left { position: absolute; top: 0; left: 0; width: 105px; height: 88px; }
/* line 12, ../sass/twitter-style.scss */
#tweets-mc-timeline .twitter-type-lists ul { padding: 0; display: block; width: 100%; position: relative; height: 150px; min-height: 100px; }
/* line 14, ../sass/twitter-style.scss */
#tweets-mc-timeline .twitter-type-lists ul li { position: absolute; top: 0; -webkit-transition: all 0.1s ease-in; -moz-transition: all 0.1s ease-in; -o-transition: all 0.1s ease-in; transition: all 0.1s ease-in; }
/* line 18, ../sass/twitter-style.scss */
#tweets-mc-timeline .twitter-type-lists ul li .head .profile-image-url { position: relative; top: 0; display: block; margin: 0 auto 7px; width: 100%; height: 100%; border: solid 1px #fff; border-radius: 1000px; -moz-border-radius: 1000px; -webkit-border-radius: 1000px; -o-border-radius: 1000px; box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3); -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3); -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3); -o-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3); }
/* line 23, ../sass/twitter-style.scss */
#tweets-mc-timeline .twitter-type-lists ul li .head .screen-name { display: none; }
/* line 24, ../sass/twitter-style.scss */
#tweets-mc-timeline .twitter-type-lists ul li .head .time-stamp { display: inline-block; padding: 2px 4px; color: #8f9193; font-style: italic; text-align: center; font-size: 12px; line-height: 16px; }
/* line 29, ../sass/twitter-style.scss */
#tweets-mc-timeline .twitter-type-lists ul li .body { display: none; width: 225px; padding: 10px; background: #fff; border: solid 1px #eee; position: absolute; left: -75px; z-index: 100; }
/* line 32, ../sass/twitter-style.scss */
#tweets-mc-timeline .twitter-type-lists ul li .body .screen-name { font-style: italic; font-size: 20px; display: block; padding-bottom: 7px; }
/* line 33, ../sass/twitter-style.scss */
#tweets-mc-timeline .twitter-type-lists ul li .body .time-stamp { font-style: italic; display: block; font-size: 15px; color: #8f9193; font-weight: 300; }
/* line 34, ../sass/twitter-style.scss */
#tweets-mc-timeline .twitter-type-lists ul li .body .tweet-text { padding-top: 15px; display: block; }
/* line 36, ../sass/twitter-style.scss */
#tweets-mc-timeline .twitter-type-lists ul li .tweet-wrap { cursor: pointer; display: block; }
/* line 37, ../sass/twitter-style.scss */
#tweets-mc-timeline .twitter-type-lists ul li .tweet-wrap:hover .body { display: block; }
/* line 39, ../sass/twitter-style.scss */
#tweets-mc-timeline .twitter-type-lists ul li.far-left .body { left: 0 !important; }
/* line 40, ../sass/twitter-style.scss */
#tweets-mc-timeline .twitter-type-lists ul li.far-right .body { left: inherit !important; right: 0 !important; }

/* Twitter timeline
#################################################################################################### */
@media (max-width: 767px) { /* line 60, ../sass/twitter-style.scss */
  #tweets-mc-timeline .twitter-type-lists ul { min-height: 88px; height: auto; }
  /* line 62, ../sass/twitter-style.scss */
  #tweets-mc-timeline .twitter-type-lists ul li { top: 15px; }
  /* line 64, ../sass/twitter-style.scss */
  #tweets-mc-timeline .twitter-type-lists ul li .body { position: relative; top: -2px; }
  /* line 65, ../sass/twitter-style.scss */
  #tweets-mc-timeline .twitter-type-lists ul li .head .time-stamp { display: none; }
  /* line 69, ../sass/twitter-style.scss */
  #tweets-mc-timeline .follow { position: relative; top: inherit; right: inherit; text-align: center; display: block; width: 100px; margin: 0 auto; display: none; } }
@media (max-width: 568px) { /* line 74, ../sass/twitter-style.scss */
  #tweets-mc-timeline .twitter-type-lists { padding-left: 60px; padding-right: 5px; }
  /* line 76, ../sass/twitter-style.scss */
  #tweets-mc-timeline .twitter-type-lists .bg-twitter-stream-left { left: -20px; }
  /* line 77, ../sass/twitter-style.scss */
  #tweets-mc-timeline .twitter-type-lists ul { min-height: 70px; }
  /* line 79, ../sass/twitter-style.scss */
  #tweets-mc-timeline .twitter-type-lists ul li { display: inline-block; position: relative; top: 20px; left: inherit !important; width: 30px !important; vertical-align: top; }
  /* line 81, ../sass/twitter-style.scss */
  #tweets-mc-timeline .twitter-type-lists ul li .body { position: absolute; top: 40px; } }
@media (max-width: 400px) { /* line 88, ../sass/twitter-style.scss */
  #tweets-mc-timeline .twitter-display-timeline ul { min-height: 100px; } }
