/* 
File Name default.css
Version 3.0
Updated 03.14.14
Package ParentTheme
License GPL v2 - http://www.gnu.org/licenses/old-licenses/gpl-2.0.html
#################################################################################################### */

/*https://www.google.com/fonts#UsePlace:use/Collection:Allura|Open+Sans:400italic,700italic,400,700*/

/* Padding */
$p: 15px;
$radius: 4px;

/* Paragraph */
$font-paragraph: 'Open Sans', sans-serif;
$font-paragraph-size: 20px;
$font-sml: 16px;
$font-paragraph-line-height: 30px;

/* Title */
$font-title: 'Open Sans', sans-serif;
$font-title-weight: 400; 
$font-title-line-height: 1.1em;

$font-cusom: 'Allura', cursive;

/* Block */
$max-width-a: 568px;

/*Colors*/
$color-error: red;
$color-gray: #eee;

$border-color-a: #aaa;
$border-color-b: #666;

/*mixin*/
@mixin border-radius($radius) { -webkit-border-radius: $radius; -moz-border-radius: $radius; -ms-border-radius: $radius; border-radius: $radius; }
@mixin box-shadow($shadow) { box-shadow:$shadow; -moz-box-shadow:$shadow; -webkit-box-shadow:$shadow; -o-box-shadow:$shadow; }
@mixin filter-blur($filter) { filter:blur($filter); -webkit-filter:blur($filter); -moz-filter:blur($filter);-o-filter: blur($filter);-ms-filter:blur($filter); }
@mixin transition($transition) { -webkit-transition:$transition; -moz-transition:$transition; -o-transition:$transition; transition:$transition; }
@mixin background-cover($cover) { background-attachment:fixed; background-position:center center; background-repeat:no-repeat; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; }
@mixin translateY($translateY) { -webkit-transform: translateY($translateY); -moz-transform: translateY($translateY); -o-transform: translateY($translateY); -ms-transform: translateY($translateY); transform: translateY($translateY); }
@mixin box-sizing($boxSizing) { box-sizing:content-box; -ms-box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box; }
$transition: all 0.1s ease-in;


/* Reset */
@import 'reset';
@import 'bootstrap-responsive';


body { line-height:$font-paragraph-line-height; font-family:$font-paragraph; height:100%; }
#page { position:relative; font-size:$font-paragraph-size; height:100%; }
.outer-wrap { position:relative; height:100%; }
.inner-wrap { max-width:$max-width-a; padding-left:$p; padding-right:$p; position:relative; margin:0 auto; text-align:left; }

a, a:visited { text-decoration:none; }

.custom-text,
.h1, h1, .h2, h2, .h3, h3, .h4, h4, .h5, h5, .h6, h6 {
	font-family:$font-title; font-weight:$font-title-weight; display:block; line-height:$font-title-line-height; 
	padding-bottom:$p; padding-top:($p/2); letter-spacing:1px;
}
.custom-text { font-family:$font-cusom; }
.h1, h1 { font-size:60px; }
.h2, h2 { font-size:44px; }
.h3, h3 { font-size:38px; }
.h4, h4 { font-size:34px; }
.h5, h5 { font-size:20px; padding-bottom:$p; padding-top:0; }
.h6, h6 { font-size:15px; padding-bottom:$p; padding-top:0; }






/* Forms
#################################################################################################### */
textarea,
input[type="text"],
input[type="password"],
input[type="email"] { 
	font-size:$font-paragraph-size; font-family:$font-paragraph;
	width:97%;
	border:solid 1px $border-color-a; border-top-color:$border-color-b; padding:3px 1%;
}
textarea { height:100px; }
label.error { color:$color-error; }

/* remove webkit css
select, input, textarea { -webkit-appearance: none; }*/

::-webkit-input-placeholder {}
:-moz-placeholder {}
::-moz-placeholder {}
:-ms-input-placeholder {}

textarea:hover, textarea:focus,
input[type="text"]:hover,input[type="text"]:focus,
input[type="password"]:hover,input[type="password"]:focus,
input[type="email"]:hover,input[type="email"]:focus {}






/* Buttons
#################################################################################################### */
.btn,
input[type="submit"],input[type="button"] {
	cursor:pointer; display:inline-block; padding:($p/2) ($p);
	background:$color-gray; border:none; font-size:$font-paragraph-size; font-family:$font-paragraph;
}






/* General Links
#################################################################################################### */


/* Main Navigation Links */
#primary-navigation {
	li { display:inline-block; }
	a { display:inline-block; padding:0 ($p/2); margin:0 ($p/2); }
	.current-menu-item a, a:hover {}
}


/* footer-navigation */
#footer-navigation {
	li { display:inline-block; }
	a { display:inline-block; padding:0 ($p/2); margin:0 ($p/2); }
}


/* Navigation */
.navigation-post {
	display:block; clear:both; text-align:left; padding:($p/4) ($p/2);
	.prev-post { padding-left:($p/2); }
	.next-post { padding-right:($p/2); }
}

.wp-pagenavi {
	a, span { padding:3px 4px; margin:3px; }
}

#navigation-breadcrumb { font-weight:bold; padding-bottom:3px; display:block; clear:both; }
.navigation-posts { font-weight:bold; padding-bottom:3px; display:block; clear:both; text-align:center; }






/* Post, Page & General Loops
#################################################################################################### */

.hentry { position:relative; }
#loop-default {
	padding-bottom:($p*4);
	.hentry { padding:($p*4) 0 ($p*2) 0; }
	.hentry:first-child { padding:0 0 ($p*2) 0; }
}



/* Meta Data */
.meta-data { font-style:italic; padding-bottom:$p; }

.post-comments { padding:0 $p 0 0; }
.post-date { padding:0 $p 0 0; }
.read-more-dots { display:none; }



/* Entry - Excerpt */
#loop-default {
	.entry { clear:both; }
	.excerpt { clear:none; padding:0; }
}

a.read_more { text-decoration:underline; font-style:italic; display:block; }

.entry {
	.aligncenter { display:block; margin:0 auto $p; }
	.alignnone { clear:both; float:none; }
	.alignleft { margin-right:$p; margin-bottom:3px; }
	.alignright { margin-left:$p; margin-bottom:3px; }
	img { max-width:100% !important; height:auto !important; }
	img.wp-smiley { border:none; margin:0; padding:0; box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none; }
    p { padding-bottom:($p*2); }
    blockquote {
		p { padding:0; margin:$p ($p*3) ($p*1.5) ($p*1.5); }
	}
	ol, ul { margin:$p 0 ($p*2) 20px; }
	ul { list-style:disc; }
	ol { list-style:decimal; }
	li { padding-bottom:7px; }
	strong {}
	small { font-size:11px; }
	table {
		line-height:18px;
		td { padding-right:7px; vertical-align:top; }
	}
} /*end .entry */

.excerpt p { padding-bottom:($p*2); }



/* Gallery Shortcode */
.gallery {
	dl.gallery-item { display:block; float:left; }

	dl dt.gallery-icon {}
	img {}
	.gallery-caption {}
}

.wp-caption {
	max-width:96%; display:block; text-align:center !important; padding:5px; background:#eee;
	p { font-size:11px; line-height:14px; padding:5px 0 7px; }
	img { display:inline; }
	.wp-caption-text {}
}



/* All sitemap style layouts - search, 404, sitemap */
.layout-sitemap .display-list {
	margin:0 2% 20px 0; width:48%; float:left;

	ul { margin:10px 0 0 0; }
	ul ul { margin:0 0 7px 15px; list-style:disc; }
	ul ul.children { padding:0; margin-left:15px; list-style:disc; }

	.site-search { display:block; padding-bottom:10px; }
}






/* Widget Areas
#################################################################################################### */
.sidebar ul {
	ul {}
	li { margin-bottom:10px; }
	li li { margin:0; }
	.widget-box {}
}






/* Blocks
#################################################################################################### */

#header, #footer {
	.inner-wrap { padding-top:$p; padding-bottom:$p; }
}






/* body.landing-page
#################################################################################################### */
html { height:100%; }
body.landing-page { 
	background-image:url('../images/bg-landing-page.jpg');  @include background-cover(0);
	#page-cover { 
		position:fixed; top:0; left:0; width:100%; height:100%; 
		background-image: -webkit-gradient(
			linear,
			left top,
			left bottom,
			color-stop(0, rgba(0,0,0,0.1)),
			color-stop(1, rgba(0,0,0,0.3))
		);
		background-image: -o-linear-gradient(bottom, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.3) 100%);
		background-image: -moz-linear-gradient(bottom, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.3) 100%);
		background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.3) 100%);
		background-image: -ms-linear-gradient(bottom, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.3) 100%);
		background-image: linear-gradient(to bottom, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.3) 100%);
	}
	#page { position:relative; z-index:2; }
	.head { padding-top:($p*2); color:#fff; text-shadow: 0 2px 1px rgba(0,0,0,0.5); }
	.body { 
		padding:($p*2) 0;
	}
	.foot { 
		width:100%;
		font-size:$font-sml; padding:$p 0; text-align:center; color:#fff; 
		text-shadow: 0 2px 1px rgba(0,0,0,0.5);
	} 
	.form-wrap {
		width:300px; margin:0 auto;
		.gform_wrapper .top_label .gfield_label { text-align:center; display:block; font-weight:400; color:#fff; text-shadow: 0 2px 1px rgba(0,0,0,0.5); }
		.gform_confirmation_message { padding:($p/2); @include border-radius($radius); background:rgba(255,255,255,0.8); text-align:center; }
		.gfield {
			.ginput_container { padding:($p/2); @include border-radius($radius); background:rgba(0,0,0,0.4); color:#fff; }
			.gfield_label { margin-left:10px; margin-right:10px; margin-bottom:10px; }
			input[type="email"] {
				font-size:$font-paragraph-size; text-indent:7px; border:none; @include border-radius($radius);
			}
			.gfield_checkbox {
				input { margin-left:($p/2); position:relative; top:-2px; }
				label { cursor:pointer; padding-left:6px; }
			}
		}
		.gform_wrapper li.gfield.gfield_error.gfield_contains_required { padding-left:0; }
		.gfield_error { background:none !important; }
		.gform_anchor,
		.validation_error,
		.validation_message,
		.gfield_required { display:none; }
		.gform_wrapper li.gfield.gfield_error { border:none !important; }
		.gform_footer {
			display:block; width:200px; padding:($p/4) ($p/2); margin-left:auto; margin-right:auto; @include border-radius($radius); background:rgba(255,255,255,0.4);
			input[type="submit"] {
				display:block; width:100%; text-align:center; background:#fff; font-size:$font-paragraph-size; border:none; @include border-radius($radius);
			}
			
		}
		.gform_wrapper ul.gfield_radio li input[type="radio"]:checked+label, .gform_wrapper ul.gfield_checkbox li input[type="checkbox"]:checked+label { font-weight:400; }
		#field_1_1 {
			margin-bottom:$p;
			label { display:none; }
		}
		#field_1_2 { 
			margin:0 auto $p !important;
			label:first-child { font-style:italic; font-size:$font-sml; }
			.ginput_container { background:rgba(255,255,255,0.8); }
		}
	}
}






/*Responsive*/
@import 'responsive';