/* 
File Name default.css
Version 3.0
Updated 03.14.14
Package ParentTheme
License GPL v2 - http://www.gnu.org/licenses/old-licenses/gpl-2.0.html
#################################################################################################### */

/*Font: https://www.google.com/fonts#UsePlace:use/Collection:Lora|Allura|Open+Sans:400italic,700italic,400,700*/

/* Padding */
$p: 10px;
$radius: 4px;

/* Paragraph */
$font-paragraph: 'Open Sans', sans-serif;
$font-paragraph-size: 15px;
$font-paragraph-line-height: 26px;

/* Title */
$font-title: 'Lora', serif;
$font-title-weight: 400; 
$font-title-line-height: 1.1em;

/*Custom*/
$font-cusom: 'Allura', cursive;
$font-size-sml: 16px;

/* Block */
$max-width-a: 940px;
$max-width-b: 768px;
$max-width-c: 568px;
$max-width-d: 480px;

/*Colors*/
$c-error: red;

/*Gray*/
$c-gray-light: #fafafa;
$c-gray: #adadad;
$c-gray-drk: #a3a3a3;

/*Brown*/
$c-brown: #5d4634;

/*Green*/
$c-green-light: #9faf25;
$c-green: #7a861d;
$c-green-b: #6ecb45;

/*Yellow*/
$c-yellow-light: #fef1be;
$c-yellow: #fbd029;

/*Pink*/
$c-pink-light: #fbf5ed;
$c-pink: #f2ddc4;

/*Red*/
$c-red-light: #f5cdca;
$c-red: #dd5951;

/*mixin*/
@mixin border-radius($radius) { -webkit-border-radius: $radius; -moz-border-radius: $radius; -ms-border-radius: $radius; border-radius: $radius; }
@mixin border-radius-top-left($radius) { border-top-left-radius:$radius; -moz-border-radius-topleft:$radius; -webkit-border-top-left-radius:$radius; -o-border-top-left-radius:$radius; }
@mixin border-radius-top-right($radius) { border-top-right-radius:$radius; -moz-border-radius-topright:$radius; -webkit-border-top-right-radius:$radius; -o-border-top-right-radius:$radius; }
@mixin border-radius-bottom-right($radius) { border-bottom-right-radius:$radius; -moz-border-radius-bottomright:$radius; -webkit-border-bottom-right-radius:$radius; -o-border-bottom-right-radius:$radius; }
@mixin border-radius-bottom-left($radius) { border-bottom-left-radius:$radius; -moz-border-radius-bottomleft:$radius; -webkit-border-bottom-left-radius:$radius; -o-border-bottom-left-radius:$radius; }
@mixin box-shadow($shadow) { box-shadow:$shadow; -moz-box-shadow:$shadow; -webkit-box-shadow:$shadow; -o-box-shadow:$shadow; }
@mixin filter-blur($filter) { filter:blur($filter); -webkit-filter:blur($filter); -moz-filter:blur($filter);-o-filter: blur($filter);-ms-filter:blur($filter); }
@mixin transition($transition) { -webkit-transition:$transition; -moz-transition:$transition; -o-transition:$transition; transition:$transition; }
@mixin transitionAll($time) { -webkit-transition:all $time ease-in; -moz-transition:all $time ease-in; -o-transition:all $time ease-in; transition:all $time ease-in; }
@mixin translateY($translateY) { -webkit-transform: translateY($translateY); -moz-transform: translateY($translateY); -o-transform: translateY($translateY); -ms-transform: translateY($translateY); transform: translateY($translateY); }
@mixin translateX($translateX) { -webkit-transform: translateX($translateX); -moz-transform: translateX($translateX); -o-transform: translateX($translateX); -ms-transform: translateX($translateX); transform: translateX($translateX); }
@mixin background-cover($cover) { background-position:center center; background-repeat:no-repeat; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; }
@mixin box-sizing($boxSizing) { box-sizing:content-box; -ms-box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box; }
@mixin button-standard($button-standard) { background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, #5880B5), color-stop(1, #3C6290) ); background-image: -o-linear-gradient(bottom, #5880B5 0%, #3C6290 100%); background-image: -moz-linear-gradient(bottom, #5880B5 0%, #3C6290 100%); background-image: -webkit-linear-gradient(bottom, #5880B5 0%, #3C6290 100%); background-image: -ms-linear-gradient(bottom, #5880B5 0%, #3C6290 100%); background-image: linear-gradient(to bottom, #5880B5 0%, #3C6290 100%); }
$transition: all 0.1s ease-in;

/* Reset */
@import 'reset';
@import 'bootstrap-responsive';

html { height:100%; }
body { line-height:$font-paragraph-line-height; font-family:$font-paragraph; }
#page { position:relative; font-size:$font-paragraph-size; height:100%; }
.outer-wrap { position:relative; }
.inner-wrap { max-width:$max-width-a; padding-left:$p; padding-right:$p; position:relative; margin:0 auto; text-align:left; }

a, a:visited { color:$c-red; text-decoration:none; }

.custom-h1, .custom-h2,
.h1, h1, .h2, h2, .h3, h3, .h4, h4, .h5, h5, .h6, h6 {
	font-family:$font-title; font-weight:$font-title-weight; display:block; line-height:$font-title-line-height; 
	padding-bottom:$p; padding-top:($p/2);
}
.custom-h1 { font-size:60px; font-family:$font-cusom; font-weight:400; }
.custom-h2 { font-size:40px; font-family:$font-cusom; font-weight:400; }

.h1, h1 { font-size:30px; }
#comments h4, #comments h3,
.h2, h2 { font-size:20px; }
.h3, h3 { font-size:18px; }
.h4, h4 { font-size:15px; }
.h5, h5 { font-size:15px; }
.h6, h6 { font-size:15px; }



.section-head {
	background:rgba(0,0,0,0.3); color:#fff; padding:10px; text-align:center; 
}






/* Forms
#################################################################################################### */
textarea,
input[type="text"],
input[type="password"],
input[type="email"] { 
	font-size:$font-paragraph-size; font-family:$font-paragraph;
	width:95%; padding:6px 2%; color:$c-gray;
	border:none; background:$c-gray-light; @include border-radius(4px);
}
textarea { height:100px; }
label.error { color:$c-error; }
label { cursor:pointer; }

/* remove webkit css
select, input, textarea { -webkit-appearance: none; }*/

::-webkit-input-placeholder {}
:-moz-placeholder {}
::-moz-placeholder {}
:-ms-input-placeholder {}

textarea:hover, textarea:focus,
input[type="text"]:hover,input[type="text"]:focus,
input[type="password"]:hover,input[type="password"]:focus,
input[type="email"]:hover,input[type="email"]:focus {}

.entry .gform_wrapper,
.gform_wrapper {
	ul { list-style:none; margin:0; }
	.gfield_label { font-weight:800; }
	.gsection { padding:40px 0; margin:20px 0; border-top:solid 1px $c-gray; border-bottom:solid 1px $c-gray; }
	input[type="radio"] { margin-left:2px; }
}






/* Buttons
#################################################################################################### */
.btn, 
input[type="submit"],input[type="button"], button {
	cursor:pointer; display:inline-block; padding:6px 20px;
	background:none; border:solid 1px rgba(0,0,0,0.3); @include border-radius(4px); @include transition($transition);
	color:$c-gray-drk; font-size:$font-paragraph-size; font-family:$font-paragraph; 
}

.btn:hover,
input[type="submit"]:hover,input[type="button"]:hover, button:hover {
	color:#000; 
}


.btn-double-white {
	padding:15px; @include border-radius(4px); background:rgba(255,255,255,0.3); border:none;
	.btn-inner { 
		color:$c-gray-drk; text-shadow:none;
		padding:10px 40px; @include border-radius(4px); background:#fff;
	}
}






/* General Links
#################################################################################################### */


/* Navigation */
.navigation-post {
	display:block; clear:both; text-align:left; padding:($p/4) ($p/2);
	.prev-post { padding-left:($p/2); }
	.next-post { padding-right:($p/2); }
}

.wp-pagenavi {
	a, span { padding:3px 4px; margin:3px; }
}

#navigation-breadcrumb { font-weight:bold; padding-bottom:3px; display:block; clear:both; }
.navigation-posts { font-weight:bold; padding-bottom:3px; display:block; clear:both; text-align:center; }






/* Post, Page & General Loops
#################################################################################################### */

.hentry { position:relative; }
#loop-default {
	.hentry { padding:($p*3) 0 ($p*2) 0; }
	.hentry:first-child { padding:0 0 ($p*2) 0; }
}



/* Meta Data */
.meta-data { 
	font-size:18px; line-height:28px; color:$c-gray; font-family:$font-title; font-style:italic;
	display:block; padding-bottom:15px; 
	a { color:$c-green-light; }
}

.post-date, .post-category, .post-comments {
	padding:0 $p 0 0;
}
.read-more-dots { display:none; }



/* Entry - Excerpt */
#loop-default {
	.entry { clear:both; color:$c-brown; }
	.excerpt { clear:none; padding:0; }
}

a.read_more {}

.entry {
	.aligncenter { display:block; margin:0 auto $p; }
	.alignnone { clear:both; float:none; }
	.alignleft { margin-right:$p; margin-bottom:3px; }
	.alignright { margin-left:$p; margin-bottom:3px; }
	img { max-width:100% !important; height:auto !important; }
	img.wp-smiley { border:none; margin:0; padding:0; box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none; }
    p { padding-bottom:($p*2); }
    blockquote {
		p { padding:0; margin:$p ($p*3) ($p*1.5) ($p*1.5); }
	}
	ol, ul { margin:$p 0 ($p*2) 20px; }
	ul { list-style:disc; }
	ol { list-style:decimal; }
	li { padding-bottom:7px; }
	strong {}
	small { font-size:11px; }
	table {
		line-height:18px;
		td { padding-right:7px; vertical-align:top; }
	}
} /*end .entry */

.excerpt p { padding-bottom:($p*2); }



/* Gallery Shortcode */
.gallery {
	dl.gallery-item { display:block; float:left; }

	dl dt.gallery-icon {}
	img {}
	.gallery-caption {}
}

.wp-caption {
	max-width:96%; display:block; text-align:center !important; padding:5px; background:#eee;
	p { font-size:11px; line-height:14px; padding:5px 0 7px; }
	img { display:inline; }
	.wp-caption-text {}
}



/* All sitemap style layouts - search, 404, sitemap */
.layout-sitemap .display-list {
	margin:0 2% 20px 0; width:48%; float:left;

	ul { margin:10px 0 0 0; }
	ul ul { margin:0 0 7px 15px; list-style:disc; }
	ul ul.children { padding:0; margin-left:15px; list-style:disc; }

	.site-search { display:block; padding-bottom:10px; }
}






/* Widget Areas
#################################################################################################### */
.sidebar {
	ul {}
	li { margin-bottom:10px; }
	li li { margin:0; }
	.widget-box {}
	.h3 { 
		color:$c-brown; 
		a { color:$c-brown; }
	}
}






/* Blocks
#################################################################################################### */

#header {
	height:250px; color:#fff; font-style:italic; text-shadow:0 1px 2px rgba(0,0,0,0.6);
	@include background-cover(0); margin-bottom:75px;
	.inner-wrap { padding-top:20px; text-align:center; }
	a { color:#fff; }
	.h2 { font-family:$font-paragraph; padding:0; }
	#primary-navigation {
		display:block; font-style:normal; text-shadow:none; text-align:center;
		background:rgba(255,255,255,0.8);
		li { display:inline-block; }
		a { color:$c-green; line-height:40px; font-size:20px; display:inline-block; padding:0 20px; margin:0; @include transition($transition); }
		.current-menu-item a, a:hover {
			background:#fff;
		}
	}
	.icon-menu { 
		font-size:30px; color:$c-green; line-height:40px; text-shadow:none;
		position:absolute; top:0; right:10px; cursor:pointer; @include transition($transition);
	}
	.icon-menu:hover {
		color:#fff;
	}
}
#footer {
	@include background-cover(0);
	.inner-wrap {
		color:#fff; text-align:center; padding-bottom:115px;
		max-width:$max-width-b;
		#copyright { font-size:$font-size-sml; text-shadow:0 1px 2px rgba(0,0,0,0.7); }
		#footer-navigation {
			padding:35px 0 10px;
			li { display:inline-block; }
			a { color:#fff; display:inline-block; padding:0 10px; margin:0; text-shadow:0 1px 2px rgba(0,0,0,0.7); }
		}
	}
}
#content-wrap {
	.inner-wrap { padding-bottom:30px; }
	.featured-image {}
}
#hidden-navigation { 
	text-align:left; display:none;
	position:fixed; top:0; right:0; z-index:1000;
	height:100%; width:200px; background:rgba(255,255,255,1); @include box-shadow(0 0 6px rgba(0,0,0,0.2));
	a { display:block; padding:2px 15px; }
	a:hover { background:$c-gray-light; }
	.sub-menu {
		a { padding-left:25px; }
	}
	.close a { 
		line-height:40px; font-size:12px; text-align:right; color:#000; padding-top:0; padding-bottom:0; 
		background:$c-gray-light; margin-bottom:10px; border-bottom:solid 1px $c-gray;
	}
}
#footer-directory-loop {
	padding:55px 0 30px; text-shadow:0 1px 2px rgba(0,0,0,0.7); color:#fff;
	.h2 { font-family:$font-paragraph; font-style:italic; }
	.entry { margin:15px auto 30px; line-height:20px; }
	a { color:#fff; }
	ul { 
		padding:40px 0; max-width:$max-width-d; margin:0 auto; text-align:left;
		list-style:disc; 
		li { float:left; width:48%; margin:0 1%; }
		a { display:block; line-height:30px; margin:1px; }
	}
}






/* Standard templates
#################################################################################################### */
body.blog,
body.archive {
	#loop-default {
		.h1 {
			padding-bottom:0; 
			a { color:#000; }
		}
		.has-post-thumbnail {
			.featured-image { display:block; width:150px; height:150px; @include background-cover(0); float:left; }
			.post-wrap { padding-left:170px; }
		}
	}
}



.layout-grid {
	.hentry {
		width:215px; margin:0 10px 15px; display:block; float:left; @include box-shadow(0 0 1px $c-gray);
		.featured-image { height:130px; @include background-cover(0); border-bottom:solid 1px $c-gray-light; }
		.post-wrap { 
			padding:20px 12px; 
			p { padding-top:7px; line-height:22px; }
		}
		a { color:#000; text-decoration:underline;}
	}
}



.block { border-bottom:solid 2px $c-gray-light; padding-bottom:($p*4); margin-bottom:75px; }






/* body.page-template-tpl-home-php
#################################################################################################### */
body.page-template-tpl-home-php {
	#header { margin-bottom:5px; }
	#content-wrap .inner-wrap {
		max-width:10000px; padding:0;
		.inner-wrap { max-width:$max-width-a; padding-left:$p; padding-right:$p;  }
	}
	#header-article-loop {
		padding:60px 0 80px; max-width:$max-width-d; margin:0 auto;
		ul { padding-top:10px; }
		li { padding-bottom:7px; }
		.h2 { display:inline-block; font-family:$font-paragraph; font-style:italic; }
		.ic { font-size:30px; padding-right:10px; position:relative; top:6px; @include transition($transition); }
		.icon-nourishment { color:$c-yellow-light; }
		.icon-movement { color:$c-pink-light; }
		.icon-happiness { color:$c-red-light; }
		li:hover {
			.icon-nourishment { color:$c-yellow; }
			.icon-movement { color:$c-pink; }
			.icon-happiness { color:$c-red; }
		}
	}
	#section-about {
		@include background-cover(0);
		.inner-wrap { 
			min-height:700px; max-width:$max-width-b !important;
			padding-top:30px; padding-bottom:30px;
		}
		.gradient {
			position:absolute; top:0; left:0; width:100%; height:100%;
			background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, rgba(255,255,255,0.7)) );
			background-image: -o-linear-gradient(bottom, #FFFFFF 0%, rgba(255,255,255,0.7) 100%);
			background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, rgba(255,255,255,0.7) 100%);
			background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, rgba(255,255,255,0.7) 100%);
			background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, rgba(255,255,255,0.7) 100%);
			background-image: linear-gradient(to bottom, #FFFFFF 0%, rgba(255,255,255,0.7) 100%);
		}
		.section-entry { 
			color:$c-brown; font-family:$font-title; font-size:20px; 
			line-height:30px; font-style:italic; 
		}
		.terms-wrapper {
			.block-term {
				padding-top:40px;
				.h1 { padding:0 30px 15px; }
				.ic { font-size:110px; float:left; position:relative; top:-23px; text-shadow:0 1px 1px rgba(0,0,0,0.3); }
				.entry { 
					padding-left:110px; 
					p { padding-bottom:0; }
				}
				.read-more { font-weight:800; color:$c-brown; }
			}
			.block-nourishment {
				.ic { color:$c-yellow; }
			}
			.block-movement {
				text-align:right;
				.ic { color:$c-green-b; float:right; }
				.entry {
					 padding-left:0; padding-right:110px;
				}
			}
			.block-happiness {
				.ic { color:$c-red; }
			}
		}
	}
	#section-self-submissions {
		margin-bottom:5px; @include background-cover(0);
		.section-head { background:#4c4c4c; }
		.inner-wrap { 
			padding-top:30px; padding-bottom:110px; 
			max-width:$max-width-c !important;
			.entry { padding-bottom:15px; }
		}
		#x-gravity-form-wrap {
			background:rgba(255,255,255,0.3); @include border-radius(7px);
			max-width:470px; margin:0 auto 80px;
			.gform_confirmation_wrapper {
				background:#fff; padding:10px; @include border-radius(7px);
			}
			.validation_error { font-size:12px; line-height:18px; margin:0; font-weight:400; color:red; position:absolute; top:-70px; left:0; background:#fff; padding:10px; @include border-radius(7px); }
			.gform_wrapper {
				position:relative;
				background:#fff; @include border-radius(7px); border:solid 1px $c-gray;
				form { display:block; width:100%; }
				.gform_body { display:block; width:100%; }
				input[type="text"] { margin:0; background:#fff; }
				li { overflow:visible; }
				.gfield_label { display:none; }
				
				.post-title { height:0; opacity:0; }
				.post-content {
					width:392px; position:relative; 
					.ginput_container { padding:10px; }
					textarea { background:#fff; font-size:15px; line-height:25px; }
					.charleft { display:none; position:absolute; top:-27px; left:10px; color:#000; }
				}
				.post-content.gfield_error {
					margin:0 !important; padding:0 !important; border:none; 
					.validation_message { display:none; }
					.ginput_container { margin-top:0; @include border-radius-top-left(4px) }
					textarea { border:none; }
				}
				.list-cats {
					height:100%; width:70px; position:absolute; top:0; right:0;
					background:$c-gray-light; @include border-radius-top-right(4px); @include border-radius-bottom-right(4px);
					.validation_message { display:none; }
					.ginput_container { padding:10px 0;}
					li { position:relative; display:block; margin:0; padding:10px 0 !important; text-align:center; }
					label { 
						position:absolute; top:10px; right:-109px; padding-left:8px; text-align:left; margin:0; line-height:25px;
						width:100px; opacity:0; cursor:pointer; @include transition($transition); 
						background:$c-gray-light; 
						@include border-radius-top-right(4px); @include border-radius-bottom-right(4px);
					}
					.ic { opacity:0.8; display:inline-block; line-height:25px; font-size:40px; cursor:pointer; }
					.icon-happiness { color:$c-red; }
					.icon-movement { color:$c-pink; }
					.icon-nourishment { color:$c-yellow; }
					
					li.selected .ic, .ic:hover { opacity:1; text-shadow:0 0 1px rgba(0,0,0,0.8); }
					li:hover,
					li.selected {
						label { opacity:1; }
					}
					
					input { display:none; position:absolute; top:0; left:0; cursor:pointer; margin:0; }
					input[type="radio"]:checked+label { font-weight:400; }
				}
				.list-cats.gfield_error { 
					margin:0 !important; padding:0 !important; border:none;  
					label { opacity:1; color:#000; background:#FFDFE0; }
					.ginput_container { margin:0; }
				}
				.list-cats:hover {
					label { opacity:0.8; }
				}
				.post-image {
					width:392px;
					.gfield_label { padding-left:10px; display:block; font-weight:400; }
					.ginput_container { padding:0 10px 10px; }
				}
				.ginput_complex {
					.ginput_full { min-height:1px; }
				}
				.gform_footer {
					position:absolute; left:0; bottom:-50px; height:50px; width:100%; 
					margin:0; padding:0;
					input { display:block; background:#fff; font-size:15px; width:200px; margin:10px auto 0; }
				}
			}
		}
	}
}






/* body.post-type-archive-directory
#################################################################################################### */
body.post-type-archive-directory {
	#loop-default {
		.h1 { padding-bottom:$p; }
		.block-image {
			text-align:center; 
			.btn { display:block; }
			img { max-width:300px; margin:0 auto; }
		}
	}
	#section-directory-submission {
		display:none; 
		.inside-wrapper {
			max-width:$max-width-c; margin:0 auto;
		}
		.gform_wrapper {
			li { padding-bottom:15px; }
			.gsection { padding:40px 0; }
		}
	}
	#section-directory { padding-bottom:30px; }
}






/* body.landing-page
#################################################################################################### */
body.landing-page { 
	background-image:url('../images/bg-landing-page.jpg');  @include background-cover(0);
	#page-cover { 
		position:fixed; top:0; left:0; width:100%; height:100%; 
		background-image: -webkit-gradient(
			linear,
			left top,
			left bottom,
			color-stop(0, rgba(0,0,0,0.1)),
			color-stop(1, rgba(0,0,0,0.3))
		);
		background-image: -o-linear-gradient(bottom, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.3) 100%);
		background-image: -moz-linear-gradient(bottom, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.3) 100%);
		background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.3) 100%);
		background-image: -ms-linear-gradient(bottom, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.3) 100%);
		background-image: linear-gradient(to bottom, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.3) 100%);
	}
	#page { position:relative; z-index:2; }
	.head { padding-top:($p*2); color:#fff; text-shadow: 0 2px 1px rgba(0,0,0,0.5); }
	.body { 
		padding:($p*2) 0;
	}
	.foot { 
		width:100%;
		font-size:$font-size-sml; padding:$p 0; text-align:center; color:#fff; 
		text-shadow: 0 2px 1px rgba(0,0,0,0.5);
	} 
	.form-wrap {
		width:300px; margin:0 auto;
		.gform_wrapper .top_label .gfield_label { text-align:center; display:block; font-weight:400; color:#fff; text-shadow: 0 2px 1px rgba(0,0,0,0.5); }
		.gform_confirmation_message { padding:($p/2); @include border-radius($radius); background:rgba(255,255,255,0.8); text-align:center; }
		.gfield {
			.ginput_container { padding:($p/2); @include border-radius($radius); background:rgba(0,0,0,0.4); color:#fff; }
			.gfield_label { margin-left:10px; margin-right:10px; margin-bottom:10px; }
			input[type="email"] {
				font-size:$font-paragraph-size; text-indent:7px; border:none; @include border-radius($radius);
			}
			.gfield_checkbox {
				input { margin-left:($p/2); position:relative; top:-2px; }
				label { cursor:pointer; padding-left:6px; }
			}
		}
		.gform_wrapper li.gfield.gfield_error.gfield_contains_required { padding-left:0; }
		.gfield_error { background:none !important; }
		.gform_anchor,
		.validation_error,
		.validation_message,
		.gfield_required { display:none; }
		.gform_wrapper li.gfield.gfield_error { border:none !important; }
		.gform_footer {
			display:block; width:200px; padding:($p/4) ($p/2); margin-left:auto; margin-right:auto; @include border-radius($radius); background:rgba(255,255,255,0.4);
			input[type="submit"] {
				display:block; width:100%; text-align:center; background:#fff; font-size:$font-paragraph-size; border:none; @include border-radius($radius);
			}
			
		}
		.gform_wrapper ul.gfield_radio li input[type="radio"]:checked+label, .gform_wrapper ul.gfield_checkbox li input[type="checkbox"]:checked+label { font-weight:400; }
		#field_1_1 {
			margin-bottom:$p;
			label { display:none; }
		}
		#field_1_2 { 
			margin:0 auto $p !important;
			label:first-child { font-style:italic; font-size:$font-size-sml; }
			.ginput_container { background:rgba(255,255,255,0.8); }
		}
	}
}






/* Comments */
@import 'comments';
/*Responsive*/
@import 'responsive';